@tailwind base;
@tailwind components;
@tailwind utilities;

.colorsTemplates {
  --color-01: #ebeaff;
  --color-02: #9694ff;
  --color-03: #3d3bf3;
  --color-04: #ff2929;
}

.text-gradiant {
  background: linear-gradient(to right, #3d3bf3 0%, #ff2929 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blueShadow{
  box-shadow: 3px 3px 1px 1px #3d3bf3;
}

.blueShadow:hover{
  transform: translate(3px, 3px);
  box-shadow: 0px 0px 1px 1px #3d3bf3;
}